body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e1e2f;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
  margin: 20px 0;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}